<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Site</title>
</head>
<body>
<h1>WELCOME TO  TEXT ANALYSER</h1>
<form action='/analyse' method='get'>
     <textarea name="text" style='margin: 0px; width: 941px; height: 104px;'> </textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPER CASE<br>
    <input type="checkbox" name="newlineremover"> New line remover<br>



    <button type='submit'> ANALYSE IT</button>
</form>
</body>
</html>